*{
    padding: 0;
    margin: 0;
    background-color: rgb(19, 230, 36);
}
.title{
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
     font-weight: bold; /*negrita */
    
}
.description{
    border-radius: 5px;
    background-color: #666;
    color: black;
    display: flex;
    justify-content: center;
}